
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

$dark-blue: #34495E;
$yellow-heading: #dd5;
$breakpoint: 768px;

body {
    margin: 0;
    padding: 0 .6em;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #444;
    background: #eee;
}

body {
    @media (min-width: $breakpoint) {
        padding: 0 2em;
    }
}

tr:hover {
    cursor: pointer;
}


.matchup-container {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(224, 224, 224);
}

.common-container {
    display: flex;
    flex-wrap: nowrap;
}

.common-section-left {
    border: 1px solid rgb(224, 224, 224);
    margin-right: 5px;
}

.common-section-right {
    border: 1px solid rgb(224, 224, 224);
}



.matchup-right-col {
    padding: 10px 0 10px 0;
    box-sizing: border-box;
}

.matchup-navbar {
    display: flex;
    margin-top: 30px;
}

.matchup-record-compare-navbar {
    display: flex;
}

.stats-tab, .record-tab {
    width: 50%;
    text-align: center;
    border-top: 1px solid rgb(224, 224, 224);
    font-size: .8rem;
    margin-bottom: -1px;
    color: grey;
    background-color: #c7c7c7;
}

.record-compare-tab {
    width: 33.33333%;
    border-left: 1px solid rgb(224, 224, 224);
    border-right: 1px solid rgb(224, 224, 224);
    color: grey;
    background-color: #c7c7c7;
    font-size: .8rem;
    text-align: center;
    margin-bottom: -1px;
    text-transform: uppercase;
}

.stats-tab {
    border-top-left-radius: 5px;
    border-left: 1px solid rgb(224, 224, 224);

}

.record-tab {
    border-top-right-radius: 5px;
    border-left: 1px solid rgb(224, 224, 224);
    border-right: 1px solid rgb(224, 224, 224);
}

.record-tab:hover, .stats-tab:hover, .record-compare-tab:hover {
    cursor: default;
}

.record-tab:not(.active):hover, .stats-tab:not(.active):hover, .record-compare-tab:not(.active):hover {
    color: white;
    cursor: pointer;
}

.active {
    background-color: white;
    color: black;
}


.fighter-hdr {
    font-size: 1.2em;
    color: steelblue;
}

.win-record {
    background-color: #99fc99;
}

.loss-record {
    background-color: #ffd0d0;
}

.events-table {
    width: 100%;
    margin-top: 1em;

    background: $dark-blue;
    color: #fff;
    border-radius: .3em;

    th, td:before {
        color: $yellow-heading;
        font-weight: bold;
    }
    th {
        text-align: left;
        display: none;
        padding-left: .4em;
    }
    td {
        padding-left: .4em;
        display: block;
        &:last-child {
            padding-bottom: .4em;
            border-bottom: 1px solid #ddd;
        }
        &:last-child {
            @media (min-width: $breakpoint) {
                border-bottom: none;
            }
        }
        &:first-child {
            padding-top: .4em;
        }
        &:before {
            content: attr(data-header)": ";
            @media (min-width: $breakpoint) {
                display: none;
            }
        }
    }

    th, td {
        @extend .noselect;
        @media (min-width: $breakpoint) {
            display: table-cell;
        }
    }
}


.nav-bar {
    @extend .noselect;
    background: $dark-blue;
    color: $yellow-heading;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
    font-weight: bold;
    i {
        @extend .noselect;
        padding-left: .4em;
        padding-right: .4em;
    }

}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.event-header {
    h3 {
        text-align: center;
    }
}

.event-table {
    @extend .noselect;
    background-color: $dark-blue;
    color: #fff;
    border-radius: .3em;
    width: 100%;


}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}



